<html>
<head>
    <title>OAuth admin form</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.samsungds.mem.oauth2.openid.oauth2-openid:oauth-plugin-resources")
</head>
<body>
<form id="admin" class="aui left-label">
    <div class="form-body">
        <div class="field-group">
            <label for="domain">
                Domain
                <span class="aui-icon icon-required"></span>
            </label>
            <input type="text" id="domain" name="domain" class="text">
        </div>
        <div class="field-group">
            <label for="client-id">
                Client Id
                <span class="aui-icon icon-required"></span>
            </label>
            <input type="text" id="client-id" name="client-id" class="text">
        </div>
        <div class="field-group">
            <label for="client-secret">
                Client Secret
                <span class="aui-icon icon-required"></span>
            </label>
            <input type="text" id="client-secret" name="client-secret" class="text">
        </div>
        <div class="form-footer">
            <div class="buttons-container">
                <div class="buttons">
                    <input type="submit" value="Save" class="aui-button" id="save-button">
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
